@import url('https://fonts.googleapis.com/css2?family=Glory:wght@300;500&display=swap');
.center{
  margin: 0px auto;
  width: 80%;
  text-align: center;
}
*{
  font-family: 'Glory', sans-serif;
  text-decoration: none;
  font-weight: 300;
}
body{
  padding: 60px;
  background:#000;
  height: 100vh;
 
}
h1{
  font-weight: 500;
  font-size:2rem;
  padding-bottom: 20px;
  color: #ffdd00;
  animation-iteration-count: initial;
  animation-name: fadeInLeft;
  animation-duration: 0.8s;

}
h3{
  font-weight: 500;
  font-size:1.73rem;
  color: #fff;
  text-align: center;
  margin:20px 0px 30px 0px ;
  animation-iteration-count: initial;
  animation-name: tada;
  animation-duration: 1s;
  position: relative;

  

}
input{
  width:50%;
  font-size: 1.3rem;
  color: grey;
  padding: 5px;
  margin-top: 13px;
  border-radius: 5px;
  padding-left: -15px;
  outline:none;
  border: 1px solid #caccd1;
  

}
input:focus{
  border: 1px solid #ffdd00;
  padding:10px;
  padding-left: 15px;
  transition: 0.3s ease all;
  font-style: italic;
  outline:none;

}
form{
  margin-top: 30px;
  padding-bottom: 30px;
}
.card-grid{
  display: grid;
  grid-template-columns: repeat(2,minmax(100px,440px));
  grid-gap: 30px;
  justify-content: center;
  margin-top: 50px;
}

.card{
  align-content: center;
  border: 1px solid #caccd1;
  margin: 0px 10px;
  overflow: hidden;
  border-radius: 5px;
  background: #EEF5DB;
  box-shadow: 2px 2px 1px #caccd1;
  padding: 5px;
  animation-duration: 1.2s;
  animation-iteration-count: initial;
  animation-name: zoomIn;
}
p{
  color: #fff;
}

.card p{
  padding: 5px;
  text-align: center;
  font-size: 1.3rem;
  color: #000;
  position: relative;
}


h3::after{
  content: "";
  display: block;
  position: absolute;
  bottom: -20px;
  width: 250px;
  height: 1px  ;
  background: #ffdd00;
  left: 40.4%;
  margin: 0px auto;
  
}
.card img{
  height: 100%;
  max-height: 250px;
  width: 100%;

}
footer{
  color: #fff;
  text-align:center;
  font-size: 1.5rem;
  padding-top:40px;
  padding-bottom: 10px;
  border-bottom: 2px solid #ffdd00;
}
hr{
  margin-bottom: 35px;
}






